@import "../../Assets/scss/config";

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    width: 100%;
    height: 100px;
    background: #ffffff;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    z-index: 10000;

    img {
        height: 100%;
    }

    div {
        display: flex;
        gap: 50px;

        a {
            font-size: 25px;
            color: inherit;
            text-decoration: none;
            transition: 0.3s;
            font-weight: 600;
        }

        a.active {
            color: #29abe2;
        }

        hr {
            width: 5px;
            border-radius: 5px;
            border: 1px solid black;
            background-color: black;
        }
    }
}

@include breakpoint(800px) {
    .navbar {
        padding: 5px 10px;

        div {
            gap: 25px;

            a {
                font-size: 20px;
            }

            a.active {
                color: #29abe2;
            }

            hr {
                width: 5px;
                border-radius: 5px;
            }
        }
        img {
            height: 50px;
        }
    }
}
@include breakpoint(500px) {
    .navbar {
        padding: 5px 10px;
        height: 75px;

        div {
            gap: 15px;

            a {
                font-size: 15px;
            }

            a.active {
                color: #29abe2;
            }

            hr {
                width: 5px;
                border-radius: 5px;
            }
        }
        
        img {
            height: 50px;
        }
    }
}