.title {
    font-size: 40px;
    color: white;
    font-weight: bold;
}
.subtitle {
    font-size: 30px;
    color: darkblue;
}

.vertical-timeline-block {
    width: 100%;
    
}

.icon {
    width: 100%;
}