@import "../../Assets/scss/config";

$color-black: hsl(0, 0%, 5%);
$color-color: hsl(0, 0%, 100%);

$color-html: hsl(15, 100%, 60%);
$color-css: hsl(200, 100%, 60%);
$color-scss: hsl(300, 100%, 60%);
$color-js: hsl(60, 100%, 60%);
$color-python: hsl(220, 100%, 60%);
$color-node: hsl(110, 100%, 60%);
$color-react: hsl(180, 100%, 60%);
$color-angular: hsl(0, 100%, 60%);
$color-vue: hsl(145, 100%, 60%);
$color-liquid: hsl(146, 100%, 11%);

$porcent-html: 100;
$porcent-js: 100;
$porcent-react: 100;
$porcent-css: 100;
$porcent-scss: 100;
$porcent-python: 50;
$porcent-node: 25;
$porcent-angular: 25;
$porcent-vue: 50;
$porcent-liquid: 100;

@function strokeDashoffset($num) {
	@return calc(440 - (440 * $num) / 100);
}
.mobile {
	display: none;
}

.container-progressbars {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	min-width: 270px;
	width: 100%;
	min-height: 100%;
}
.container-progressbars-completed {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	min-width: 270px;
	width: 100%;
	min-height: 100%;
}

.progressbar {
	position: relative;
	width: 170px;
	height: 170px;
	margin: 1em;
	transform: rotate(-90deg);
}

.progressbar-svg {
	position: relative;
	width: 100%;
	height: 100%;
}

.progressbar-svg-circle {
	width: 100%;
	height: 100%;
	fill: none;
	stroke-width: 10;
	stroke-dasharray: 440;
	stroke-dashoffset: 440;
	stroke: hsl(0, 0%, 100%);
	stroke-linecap: round;
	transform: translate(5px, 5px); // stroke-width / 2
}

.shadow {
	&-html {
		filter: drop-shadow(0 0 5px $color-html);
	}
	&-css {
		filter: drop-shadow(0 0 5px $color-css);
	}
	&-scss {
		filter: drop-shadow(0 0 5px $color-scss);
	}
	&-js {
		filter: drop-shadow(0 0 5px $color-js);
	}
	&-python {
		filter: drop-shadow(0 0 5px $color-python);
	}
	&-node {
		filter: drop-shadow(0 0 5px $color-node);
	}
	&-react {
		filter: drop-shadow(0 0 5px $color-react);
	}
	&-angular {
		filter: drop-shadow(0 0 5px $color-angular);
	}
	&-vue {
		filter: drop-shadow(0 0 5px $color-vue);
	}
	&-liquid {
		filter: drop-shadow(0 0 5px $color-liquid);
	}
}

.circle {
	&-html {
		animation: anim_circle-html 1s ease-in-out forwards;
	}
	&-css {
		animation: anim_circle-css 1s ease-in-out forwards;
	}
	&-scss {
		animation: anim_circle-scss 1s ease-in-out forwards;
	}
	&-js {
		animation: anim_circle-js 1s ease-in-out forwards;
	}
	&-python {
		animation: anim_circle-python 1s ease-in-out forwards;
	}
	&-node {
		animation: anim_circle-node 1s ease-in-out forwards;
	}
	&-react {
		animation: anim_circle-react 1s ease-in-out forwards;
	}
	&-angular {
		animation: anim_circle-angular 1s ease-in-out forwards;
	}
	&-vue {
		animation: anim_circle-vue 1s ease-in-out forwards;
	}
	&-liquid {
		animation: anim_circle-liquid 1s ease-in-out forwards;
	}
}

.progressbar-text {
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 0.25em 0.5em;
	color: hsl(0, 0%, 100%);
	font-family: Arial, Helvetica, sans-serif;
	border-radius: 0.25em;
	transform: translate(-50%, -50%) rotate(90deg);
}

//  @keyframes

@keyframes anim_circle-html {
	to {
		stroke-dashoffset: strokeDashoffset($porcent-html);
	}
}

@keyframes anim_circle-css {
	to {
		stroke-dashoffset: strokeDashoffset($porcent-css);
	}
}

@keyframes anim_circle-scss {
	to {
		stroke-dashoffset: strokeDashoffset($porcent-scss);
	}
}

@keyframes anim_circle-js {
	to {
		stroke-dashoffset: strokeDashoffset($porcent-js);
	}
}

@keyframes anim_circle-python {
	to {
		stroke-dashoffset: strokeDashoffset($porcent-python);
	}
}

@keyframes anim_circle-node {
	to {
		stroke-dashoffset: strokeDashoffset($porcent-node);
	}
}

@keyframes anim_circle-react {
	to {
		stroke-dashoffset: strokeDashoffset($porcent-react);
	}
}

@keyframes anim_circle-angular {
	to {
		stroke-dashoffset: strokeDashoffset($porcent-angular);
	}
}

@keyframes anim_circle-vue {
	to {
		stroke-dashoffset: strokeDashoffset($porcent-vue);
	}
}

@keyframes anim_circle-liquid {
	to {
		stroke-dashoffset: strokeDashoffset($porcent-liquid);
	}
}

@include breakpoint(1000px) {
	.desktop {
		display: none;
	}
	.mobile {
		display: block;
		.progressbar {
			width: 120px;
			height: 120px;
		}
	}

}
